services:
  bot:
    build: .
    container_name: linkinzzz
    restart: unless-stopped
    command: sh -c "watchfiles --ignore-paths .venv --ignore-paths .idea 'python run.py' ."
    env_file:
      - .env
    ports:
      - "8080:8080"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"
    volumes:
      - .:/app
