services:
  bot:
    build: .
    container_name: linkinzzz
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8081:8081"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"
    mem_limit: 300m
    mem_reservation: 100m
    cpus: 0.20
