name: Build & Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            cd /srv/bots/linkinzzz-bot

            cat > .env <<EOF
            ENV=${{ secrets.ENV }}
            ADMIN_ID=${{ secrets.ADMIN_ID }}
            BOT_TOKEN=${{ secrets.BOT_TOKEN }}
            BOT_USERNAME=${{ secrets.BOT_USERNAME }}

            WEBHOOK_URL=${{ secrets.WEBHOOK_URL }}
            WEBHOOK_PATH=${{ secrets.WEBHOOK_PATH }}
            WEBHOOK_HOST=${{ secrets.WEBHOOK_HOST }}
            WEBHOOK_PORT=${{ secrets.WEBHOOK_PORT }}
            EOF

            IMAGE_TAG=${{ github.sha }}

            docker compose pull
            docker compose up -d --force-recreate --remove-orphans