name: Update Cookies

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Update Cookies
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            cd /srv/bots/linkinzzz-bot
            
            cat << 'EOF' > insta_cookies.txt
            ${{ secrets.INSTAGRAM_COOKIES }}
            EOF
            
            chmod 600 insta_cookies.txt
            echo "Cookies updated"